:root{
  --background-color: #0c2641;
  --primary-color: #2754ba;
  --secondary-color: #00aee6;
  --accent-color: #799eb2;
  --highlight-color: #b1d4e5;
  --page-background: #ced5da;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  margin: 40;
  display: flex-box;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--page-background)
}

header {
  /*position: fixed;*/
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
  color: #fff;
}

header h1 {
  font-size: 60px;
}

.topnav {
  overflow: hidden;
}

.topnav a {                                    /* Unvisited link  */
  color: var(--accent-color);
  padding: 1rem;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 20px; 
}
.topnav a:visited {                            /* Visited link    */
  color: var(--accent-color)
}    
.topnav a:hover {                              /* Mouse over link */
  color: var(--background-color);
  background-color: var(--accent-color);
  border-radius: 25px;
}
.topnav a:active {                            /* Selected link   */
  color: var(--accent-color);
}


.flex-container {
  display: flex;
  justify-content:center;
  align-content: center;
  margin: 1%;
  flex-shrink: 0;
}

.about-section {
  width: auto;
  padding: 2%;
  margin: 1%;
}

.about-heading {
  min-width: 20%;
  display: flex;
  position:relative;
  font-size: 3.5em;
}

.about-content {
  float: right;
  min-width: 50%;
  padding: 0% 3%;
  margin-right: 3%;
}

.work-section {
  width: auto;
  padding: 2%;
  margin: 1%;
}

.work-heading {
  min-width: 20%;
  display: flex;
  position:relative;
  font-size: 3.5em;
}

.work-item-container {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid var(--accent-color);
  justify-content: space-around;
  align-content: center;
  width: 60%;
}

.work-item-container a {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.work-item1 {
  width: 100%;
  float: right;
  border: 3px solid var(--background-color);
  padding: 0% 1%;
  margin-right: 0%;
  /* flex-grow: 2;
  flex-basis: 0; */
}


.image-container img {
  max-width: 100%;
}

.image-container:hover {
  filter:blur(2px);
  transition: 0.5s ease-in-out;
}


.work-item2 {
  flex: 1;
  float: right;
  border: 3px solid var(--background-color);
  padding: 0% 1%;
  margin-right: 0%;
  /* flex-grow: 1;
  flex-basis: 0; */
}

.work-item3 {
  flex: 1;
  float: right;
  border: 3px solid var(--background-color);
  padding: 0% 1%;
  margin-right: 0%;
  /* flex-grow: 1;
  flex-basis: 0; */
}

.contact-section {
  width: auto;
  padding: 2%;
  margin: 1%;
}

.contact-heading {
  min-width: 20%;
  display: flex;
  position:relative;
  font-size: 3.5em;
}

.contact-content {
  min-width: 50%;
  padding: 0% 3%;
  margin-right: 3%;
}

.contact-content ul li {                                    /* Unvisited link  */
  padding: 3rem;
  float: left;
  font-size: 20px; 
}

.contact-content a {                                    /* Unvisited link  */
  color: var(--accent-color);
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 768px) {
   main,
   .topnav {
    flex-direction: column;
  }
} */